<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine_List</title>
</head>
<body>
    <h4>List of Medicine</h4>
    <table border="1" data-url="{% url 'medicine_list' %}">
        <thead>
        <th>S.N.</th>
        <th>Name</th>
        <th>Quantity</th>

        </thead>
        <tbody data-bind="foreach: medicineList">
            <tr>
                <td data-bind="text: $index()+1"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: total"></td>
            </tr>
        </tbody>
    </table>

    <script src="{% static 'medicalapp/jquery.js' %}"></script>
    <script src="{% static 'medicalapp/knockout.js' %}"></script>
    <script src="{% static 'medicalapp/medicine_list.js' %}"></script>
</body>
</html>